
<div class="footer">
  <div class="footer-copyright">
    <div class="writing">
    </div>
  </div>
    <div class="icons">
      <a href="https://www.instagram.com/johndewinton/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/john.dewinton"><i class="fab fa-facebook"></i></a>
      <a href="https://github.com/johndewinton"><i class="fab fa-github"></i></a>
    </div>
    <p class="p-foot"></p>
</div>
