
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>

    <h1 class="navbar-header"></h1>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="link-item">
    </li>
    <li class="link-item">
    </li>
    <li class="link-item">
    </li>
    <li class="link-item">
    </li>
    </ul>
  </div>
</div>















<!-- <nav class="main-nav">
  <ul id="nav-list">
    <li class="link-item">
    </li>
    <li class="link-item">
    </li>
    <li class="link-item">
    </li>
    <li class="link-item">
    </li>
  </ul>
</nav>
 -->
