
 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-content-left">
    <h1 class="navbar-header">My Portfolio</h1>
  </div>
  <div class="navbar-justify-content-flex-end">
    <ul class="navbar-nav">
      <li class="link-item">
       <%= link_to 'Home', root_path, as: 'home', class: "nav-link" %>
     </li>
     <li class="link-item">
       <%= link_to 'About', about_path, as: 'about', class: "nav-link" %>
     </li>
     <li class="link-item">
      <%= link_to 'Projects', projects_path, as: ' projects', class: "nav-link" %>
     </li>
     <li class="link-item">
       <%= link_to 'Contact', contact_path, as: 'contact', class: "nav-link" %>
     </li>
    </ul>
  </div>
 </div>
</div>













<!-- <nav class="main-nav">
  <ul id="nav-list">
    <li class="link-item">
    </li>
    <li class="link-item">
    </li>
    <li class="link-item">
    </li>
    <li class="link-item">
    </li>
  </ul>
</nav>
 -->
