<div class="background-landing-page">
  <div class="hero-text">
    <h1>Hello, I'm John de Winton.</h1>
    <p>I'm a web developer, traveller and aspiring entrepreneur from London, UK.</p>
    <button>Hire me!</button>
  </div>
</div>
