

<section class="intro">
  <div class="background-image">
   <%= image_tag("backgrounds-blank-blue-953214 copy.jpg", class: "intro") %>
    <div class="hero-text">
      <h1>Hello, I'm John de Winton.</h1>
      <p>I'm a web developer, traveller and aspiring entrepreneur from London, UK.</p>
      <a href="mailto:john.dewinton@yahoo.co.uk" class="button">
      <span class="availability fontawesome-remove"> Currently available</span>
      <span class="hire-me">Hire Me</span>
      </a>
     </div>
    </div>
  </div>
</section>
<section class="about-page" id="about-page-id">
  <h1>I am doing great</h1>


</section>
<section>

</section>
<section>

</section>
