<div class="background-landing-page">
  <div class="hero-text">
    <h1>Hello, I'm John de Winton.</h1>
    <p>I'm a web developer, traveller and aspiring entrepreneur from London, UK.</p>
     <a href="mailto:john.dewinton@yahoo.co.uk" class="button">
    <span class="availability fontawesome-remove"> Currently available</span>
    <span class="hire-me">Hire Me</span>
    </a>
  </div>
</div>
