.navbar-lewagon {
  background: black;
  display:flex;
  justify-content:space-around;
  color: white;
  font-family: 'Stylish', sans-serif;
  position:fixed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}



.link-item {
  margin-right: 10px;
  color:white;
  font-family: 'Stylish', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:white;
}


