.navbar-lewagon {
  background: white;
  display:flex;
  justify-content:space-around;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


@media (min-width: 576px)
{.navbar-expand-sm {
  // justify:space-around;
}
}

.nav-link {
  margin-right: 10px;
}
